.App .header {
  margin: 5px 50px; }
  .App .header .score {
    float: right; }

.playground {
  width: 1440px;
  height: 600px;
  background-color: #eee;
  border: 1px solid white;
  margin: 30px auto;
  position: relative; }
  .playground h1.game-over {
    text-align: center;
    color: red;
    margin-top: 200px;
    font-size: 80px; }
  .playground .b-1, .playground .b-2, .playground .b-3, .playground .b-4, .playground .b-5, .playground .b-6, .playground .b-7, .playground .b-8, .playground .b-9, .playground .b-10 {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    text-align: center; }
  .playground .healthy-good {
    background-color: green; }
  .playground .healthy-medium {
    background-color: yellow; }
  .playground .healthy-bad {
    background-color: red; }
