
.App {
    .header {
        .score {
            float: right;
        }
        margin: 5px 50px;
    }
}

.playground {
    width: 1440px;
    height: 600px;
    background-color: #eee;
    border: 1px solid white;
    margin: 30px auto;
    position: relative;

    h1.game-over {
        text-align: center;
        color: red;
        margin-top: 200px;
        font-size: 80px;
    }
  
    %bubble {
        position: absolute;
        background-color: red;
        border-radius: 50%;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    @for $i from 1 to 11 {
        .b-#{$i} {
            @extend %bubble;
        }
    }

    .healthy-good {
        background-color: green;
    }
    .healthy-medium{
        background-color: yellow;
    }
    .healthy-bad {
        background-color: red;
    }
}

