.product {
    .productImage {
        position: relative;
        
        .overlay {
            background-color: rgba(77, 230, 220, 0.67);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: all 0.3s;

            .btnProduct {
                background-color: transparent;
                padding: 7px 30px;
                border: 2px solid white;
                border-radius: 4px;
                color: white;
                opacity: 0;
                &:focus{
                    outline: none;
                }
            }
        } 
    }
    
    .price {
        color: rgba(77, 230, 220, 1);
        font-weight: bold;
    }

    &:hover {
        box-shadow: 0px 5px 10px #cccccc;
        .overlay {
            opacity: 1;
            .btnProduct {
                opacity: 1;
            }
        }
    }
}